.toper{
    display: flex;
}
body{
    background-color: rgb(255, 255, 255);
}
.surato{
    display: flex;
    width: 70%;
    margin: auto;
    flex-wrap: wrap;
    margin-top: 40px;
}
.item{
    padding: 20px;
}
.btn1{
    background-color: rgb(0, 0, 0);
    display: inline-block;
    padding: 10px 15px;
    color: white;
    cursor: pointer;
    transition: 0.35s;

}
.btn1:hover{
    background-color: rgb(150, 150, 150);
    color: black;
}
.btn{
    background-color: rgb(255, 255, 255);
    display: inline-block;
    padding: 10px 15px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    transition: 0.35s;

}
.btn:hover{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}
.btn2{
    background-color: rgb(255, 255, 255);
    display: inline-block;
    padding: 10px 15px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    transition: 0.35s;

}
.btn2:hover{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}
.foter{
    display: flex;
    justify-content: space-around;
}